{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
<!--{{ request.resolver_match }}-->
{% if user.is_authenticated %}
    {% if object_list %}
        <div class='menu'>
            <a href="{% url 'main:logout' %}" class="logout" alt="logout">logout</a>
            <a href="{% url 'main:post_create' %}" class="logout" alt="logout">create post</a>
            <a href="http://127.0.0.1:8000/admin/">admin</a>
        </div>
        {% for object in object_list %}
            <div class="post">
                <a href="{% url 'main:post_update' object.pk %}" class="title" alt="title">{{ object.title }}</a>
                <a href="{% url 'main:post_delete' object.pk %}" >delete</a>

<!--                <h4 class="title">{#{ object.title }#}</h4>-->
                <p class="text">{{ object.text }}</p>
                <p class="date">{{ object.date }}</p>
<!--                <p class="date">{{ object.pk }}</p>-->
            </div>
        {% endfor %}
    {% endif %}
{% else %}

<a href="{% url 'main:login' %}" class="login" alt="login">login</a>
<a href="{% url 'main:register' %}" class="register" alt="login">register</a>
<a href="http://127.0.0.1:8000/admin/">admin</a>
<h4 class="title">Please login</h4>

{% endif %}

<hr align="center" width=100% size="4" color=blue />

{% endblock %}

