{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}

{% if user.is_authenticated %}
    {% if object_list %}
        <a href="{% url 'main:logout' %}" class="logout" alt="logout">logout</a>

        {% for object in object_list %}
            <div class="post">
                <h4 class="title">{{ object.title }}</h4>
                <p class="text">{{ object.text }}</p>
                <p class="date">{{ object.date }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% else %}

<a href="{% url 'main:login' %}" class="login" alt="login">login</a>
<h4 class="title">Please login</h4>

{% endif %}

<hr align="center" width=100% size="4" color=blue />

{% endblock %}

